.movie-img {
    display: block;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
  }

  .result-text-center{
    width: 752px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    height: 565px;
    margin-bottom: 50px; /* Added */
    border-radius: 10px;
}

.save{
padding: 0;
border: none;
background: none;
outline: none;
padding-left: 550px;
}

.result-text-center{
  outline: none;
}